*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* navbar section*/
.header{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    width: 100%;
    padding: 2rem 10%;
    background-color: rgb(247, 239, 230);
}
.clr{
    color:rgb(221, 31, 60);
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.navbar a{
    align-items: center;
    padding-left: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
#id:hover{
    color: rgb(221, 31, 60);
}
.icons{
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color:black;
    position: absolute;
    display: none;
    right: 5%;
}
#check{
    display: none;
}
/* home section */
#homesection{
    display: flex;
}
.heading{
    margin: 220px 200px;
}
#h1{
    font-weight: 900;
    font-size: 65px;
}
.heading span{
    color:rgb(221, 31, 60) ;
}
.img img{

    width: 500px;
    padding-top: 150px;
    }
    /* menu section */
#menuu{
    margin-top: 50px;
}
.item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
#img1{
    height: 100px;
    width: 98px;
    border-radius: 10px;
    margin-left: 10px;
}
.items{
    width: 200px;
    height: 200px;
    margin-top: 70px;
    display:grid;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
#button{
    width: 70px;
    margin-left: 10px;
    background-color: rgb(221, 31, 60);
    border: 1px solid rgb(221, 31, 60);
    padding: 5px;
    color: aliceblue;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rating{
    display: flex;
}
/* about section */
#about{
    margin-top: 70px;
}
.abth{
    text-align: center;
    font-size: 30px;
    color: rgb(221, 31, 60);
}
.img2{
    height: 100px;
    width: auto;
    padding-left: 35px;
}
.items h4{
    text-align: center;
}
.pg{
    font-size: 12px;
    text-align: center;
}
/* contact section */
#contact{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color:rgb(221, 31, 60);
}
.cls{
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 60px;
}
.clss{
    flex-wrap: wrap;
    padding-left: 600px;
    padding-top: 60px;

}
.icon i{
    padding-left: 60px;
    padding-top: 50px;
}
/* .icons{
    text-decoration: none;
    color:rgb(217, 15, 15);
    position: absolute;
    /* display: none; */


/* menu section */


/* responsive */

@media screen and (max-width:1314px){
    .img{
     width: 50%;
    }
}
@media screen and (max-width:1260px){
    .img{
    display: none;
    }
}
@media screen and (max-width:800px){
    .header{
        padding:2rem 5% ;
    }
}
@media screen and (max-width:715px){
    .icons{
        display: flex;
    }
    #cancel{
        display: none;
    }
    #check:checked~ .icons #menu{
        display: none;
    }
    #check:checked~ .icons #cancel{
        display: block;
    }
    #check:checked~ .navbar{
        display: block;
        height: 13rem;
    }
    .navbar{
        position: absolute;
        top: 80%;
        left: 0%;
        background-color: rgb(221, 31, 60);; 
        width: 100%;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 1rem;
        margin: 1rem 0px;
        text-align: center;
    }
    .clss{
        padding-left: 100px;
        padding-top: 50px;
    
    }
}
